<% content_for :page_title do %>
  Beschikbaarheid bewerken
<% end %>

<div class="playdate-form">
  <fieldset>
    <legend>Vul hieronder in wanneer je beschikbaar bent.</legend>
    <%= form_tag action: 'edit' do -%>
      <table>
        <tr>
          <th>Datum</th>
          <th>Beschikbaarheid</th>
        </tr>
        <% @playdates.each do |playdate| %>
          <tr>
            <td><%= h nice_date_display(playdate.day) %></td>
            <td>
              <%= fields_for :availability, current_user.availability_for_playdate(playdate) do |av_fields| %>
                <%= av_fields.select 'status', availability_options, {}, { index: playdate.id } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <p><%= submit_tag 'Opslaan' %></p>
      <p><%= link_to 'Terug naar overzicht', action: 'index' %></p>
    <% end %>
  </fieldset>
</div>
