- width = 100 / (@playdates.length + 1)
%table{ width: '100%' }
  %tr.head
    %th Speler
    %th{ colspan: @playdates.length } Datum
  %tr
    %td{ width: "#{width}%" }
    - @playdates.each do |playdate|
      %td{ width: "#{width}%" }= h nice_date_display(playdate.day)
  - @players.each do |player|
    - avs = player.availabilities_by_day
    %tr
      %td= h player.abbreviation
      - @playdates.each do |playdate|
        %td= availability_status_character(avs[playdate.day], player)
  %tr.summary
    %th Optie?
    - @playdates.each do |playdate|
      %td= status_to_text(@stats[playdate])
