- content_for :page_title do
  Speeldagen
%table
  %tr
    %th Datum
    %th Beschikbaar
  - for playdate in @playdates
    %tr
      %td= h playdate.day
      %td{:align => "center"}= h playdate.availabilities.length
      %td= link_to 'Tonen', :action => 'show', :id => playdate
      %td= link_to 'Bewerken', :action => 'edit', :id => playdate
      %td= link_to 'Verwijderen', { :action => 'destroy', :id => playdate }, :method => :delete, data: { :confirm => 'Are you sure you want to destroy this playdate?' }
= will_paginate @playdates
%p
  = link_to 'Nieuwe speeldag', :action => 'new'
  = link_to 'Opruimen', {:action => 'prune'}, :method => :post, data: { :confirm => 'Weet je zeker dat je oude speeldagen wilt opruimen?' }
