<% content_for("page_title") do %>
  Nieuwe speeldagen
<% end %>

<p>Kies een methode om een of meer nieuwe datums te maken.</p>
<fieldset>
  <legend>Kies een specifieke datum.</legend>
  <%= form_tag :action => 'new' do %>
    <%= render :partial => 'form' %>
    <%= submit_tag 'Opslaan' %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Voeg een reeks toe.</legend>
  <%= form_tag :action => 'new' do %>
    <p>
    <label for="daytype">Soort dag:</label>
    <%= select_tag 'daytype', daytype_options(@daytype) %>
    </p>
    <p>
    <label for="period">Tot einde van:</label>
    <%= select_tag 'period', period_options(@period) %>
    </p>
    <%= submit_tag 'Reeks maken' %>
  <% end %>
</fieldset>
<%= link_to 'Terug naar lijst', :action => 'index' %>
