- content_for :page_title do
  Speeldag: #{h @playdate.day.strftime()}
%p
  %b Datum:
  = h @playdate.day
%p
  %b Beschikbaar:
%table
  %tr
    %th Speler
    %th Status
  - for av in @playdate.availabilities
    %tr
      %td= h av.player.name
      %td= av.status_character
      %td= link_to 'Bewerken', { :controller => 'availabilities',
          :action => 'edit', :id => av, :playdate_id => @playdate.id }
      %td= link_to 'Verwijderen', { :controller => 'availabilities',
          :action => 'destroy', :id => av, :playdate_id => @playdate.id },
          :method => :delete, data: { :confirm => 'Weet je zeker dat je deze beschikbaarheid wil verwijderen?' }
%p
  = link_to 'Beschikbaarheid toevoegen', { :controller => 'availabilities',
    :action => 'new', :playdate_id => @playdate.id }
%p
  = link_to 'Terug naar lijst', :action => 'index'
