<% content_for("page_title") do %>
Spelers
<% end %>

<table>
  <tr>
    <th>Login</th>
    <th>Volledige naam</th>
    <th>Afkorting</th>
    <th>Admin?</th>
    <th>Standaardbeschikbaarheid</th>
  </tr>

<% for player in @players %>
  <tr>
    <td><%= h player.name %></td>
    <td><%= h player.full_name %></td>
    <td><%= h player.abbreviation %></td>
    <td><%= h player.is_admin %></td>
    <td><%= h status_display(player.default_status) %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @players %>

<%= link_to 'New player', new_player_path %>
