<% content_for :page_title do %>
  Nieuwe speler
<% end %>

<%= error_messages_for :player %>

<%= form_for(@player) do |f| %>
  <p>
  <%= render 'form_fields', f: f %>
  <%= f.submit "Aanmaken" %>
  </p>
<% end %>

<%= link_to 'Terug', players_path %>
