= content_for :page_title do
  Editing availability

= form_for [@playdate, @availability] do
  = render :partial => 'form'
  = submit_tag 'Save'

= button_to 'Destroy', { :action => 'destroy', :id => @availability }, data: { :confirm => 'Are you sure you want to destroy this availability?' }

= link_to 'Show', :action => 'show', :id => @availability
|
= link_to 'Back to list', :action => 'index'
