<% content_for :page_title do %>
  New availability
<% end %>

<div class="content">
  <%= form_for [@playdate, @availability] do %>
    <% if @availability.errors.any? %>
      <div class="error_explanation">
        <h2><%= t("errors.template.header", model: "Speler", count: @availability.errors.count) %></h2>
        <p><%= t("errors.template.body") %></p>

        <ul>
          <% @availability.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p><label>Datum</label><br>
    <%= @playdate.day %></p>

    <p><label for="availability_player">Speler</label><br>
    <%= select("availability", "player_id",
               regular_players.map { |p| [p.name, p.id] }) %></p>

    <p><label for="availability_status">Status</label><br>
    <%= select("availability", "status",
               Availability::VALUES.map { |v| [Availability::LONG_DISPLAY[v], v] }) %></p>

    <%= submit_tag "Save" %>
  <% end %>

  <%= link_to "Back to list", playdate_path(@playdate) %>
</div>
