!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Playdate! The Application - #{controller.controller_name}: #{controller.action_name}
    %link{:href => url_for(:controller => 'main', :action => 'feed', :format => 'xml'), :rel => "alternate", :title => "Atom", :type => "application/atom+xml"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application", defer: true, async: true
    = csrf_meta_tags
  %body
    #box.wrapper
      - if @current_user
        %p.logout
          Ingelogd als #{h @current_user.full_name}.
          = link_to 'Uitloggen', {:controller => 'login', :action => 'logout'}, :method => :post
      %h1= yield :page_title
      .content
        = render :partial => 'shared/showflash'
        = yield
        - if @current_user and @current_user.is_admin?
          %p
            = link_to 'Speeldagen', :controller => 'playdates', :action => 'index'
            = link_to 'Spelers', :controller => 'players', :action => 'index'
            = link_to 'Hoofd', :controller => 'main', :action => 'index'
      - if @current_user
        %p.logout= link_to 'Wachtwoord wijzigen', :controller => 'login', :action => 'edit'
